**/node_modules/
**/**/node_modules/

**/*.log
**/**/*.log

**/.env
**/.env.*

**/**/.env
**/**/.env.*

**/dist/
**/build/

**/**/dist/
**/**/build/

package-lock.json

**/package-lock.json
**/**/package-lock.json
